@font-face {
  font-family: "Arc Space";
  src: url("ArcSpace.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* TODO: Replace Roboto.ttf with a WOFF2 asset. */
}
