<% content_for :title, "My Projects" %>
<div class="projects-board">
  <%= render HeadingComponent.new(title: "My Projects", tone: :blue, size: :full) %>
  <header class="projects-board__header">
    <div class="projects-board__heading">
      <p class="projects-board__subtitle">What'ya cookin'?</p>
    </div>
  </header>

  <section class="projects-board__grid" aria-label="Projects">
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <div class="projects-board__grid-item">
          <%= render partial: "card", locals: { project: project } %>
        </div>
      <% end %>
    <% end %>
    <div class="projects-board__grid-item projects-board__grid-item--create">
      <%= link_to new_project_path, class: "projects-board__create-card" do %>
        <%= inline_svg_tag "icons/plus.svg", class: "projects-board__create-icon", aria: { hidden: true } %>
        <span class="projects-board__create-label">Create Project</span>
      <% end %>
    </div>
  </section>
</div>
