---
openapi: 3.0.3
info:
  title: Stardance API
  version: v1
  description: |
    this built-in scalar theme looks cool, doesnt it? like... kind space y....

    ## Authentication

    Every endpoint requires an API key. Send it as a Bearer token:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    Open **Settings** from the sidebar to generate or rotate your key and replace `YOUR_API_KEY` with your generated one.

    **For endpoints that accept a request body, set `Content-Type: application/json`! Otherwise the body won't be parsed.**

    ---

    ## Rate limiting

    50 requests per 1 minute, enforced per IP address and per API key. Exceeding either limit returns `429 Too Many Requests` with body `{ "error": "rate_limited" }`.

    ---

    ## Pagination

    Paginated endpoints (eg. projects and devlogs) accept `?page` (1-based, default 1) and `?limit` (1–100, default 100). A `400` is returned if `limit` is out of that range. Responses include a `pagination` object:

    ```json
    {
      "current_page": 1,
      "total_pages": 4,
      "total_count": 312,
      "next_page": 2
    }
    ```

    `next_page` is `null` on the last page.

    ---

    ## Media URLs

    `media[].url` and `banner_url` are **relative paths** (e.g. `/rails/active_storage/blobs/…`). Prepend the server base URL (`https://stardance.hackclub.com`) to get a working url.

servers:
  - url: https://stardance.hackclub.com/api/v1
    description: Production server.

security:
  - bearerAuth: []

tags:
  - name: Search
    description: Endpoints for searching users, projects, posts, and shop items with filters.
  - name: Me
    description: Endpoints for the authenticated user's profile, projects, feed, orders, and achievements.
  - name: Users
    description: Endpoints for viewing other users' profiles, content, and earned achievements.
  - name: Projects
    description: Endpoints for viewing and managing projects and their posts.
  - name: Posts
    description: Endpoints for interacting with posts -- likes and reposts.
  - name: Shop
    description: Endpoints for browsing shop items and viewing orders.
  - name: Missions
    description: Endpoints for browsing missions, their steps, and prizes.
  - name: Resources
    description: Endpoints for browsing the learning resources (guides) catalog.
  - name: Leaderboard
    description: Stardust leaderboard — top users by current balance and all-time earned.

paths:
  /search/semantic:
    get:
      summary: Semantic search
      description: >-
        Vector-based semantic search across projects, devlogs, ships, and users.
        Returns up to 50 results merged from all types, ranked by relevance.
        Returns `503` if semantic search is not configured on the server (requires Redis + OpenAI).
      tags: [Search]
      parameters:
        - name: q
          in: query
          required: true
          description: Search query string.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Max results to return (1–50, default 20).
          schema:
            type: integer
      responses:
        "200":
          description: Semantic search results.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/SemanticResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Semantic search not available (Redis or OpenAI not configured).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /search:
    get:
      summary: Search
      description: Search for users, projects, devlogs/ships, or shop items. The `type` parameter controls which resource is searched for and the format of the results.
      tags: [Search]
      parameters:
        - name: q
          in: query
          description: Search query string.
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: Resource type to search for.
          required: true
          schema:
            type: string
            enum: [user, project, post, shop_item]
        - name: project_id
          in: query
          description: Filter posts by project (only for type=post).
          required: false
          schema:
            type: integer
        - name: author_id
          in: query
          description: Filter by author user ID (for type=project or type=post).
          required: false
          schema:
            type: integer
        - name: ship_status
          in: query
          description: Filter projects by ship status (only for type=project).
          required: false
          schema:
            type: string
            enum: [draft, submitted, under_review, approved, rejected]
        - name: project_type
          in: query
          description: Filter projects by project type (only for type=project).
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: Filter by category (for type=project or type=shop_item).
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          description: Sort field (only for type=project). Defaults to `created_at`.
          required: false
          schema:
            type: string
            enum: [created_at, devlogs_count, duration_seconds, shipped_at]
        - name: sort_dir
          in: query
          description: Sort direction (only for type=project). Defaults to `desc`.
          required: false
          schema:
            type: string
            enum: [asc, desc]
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Search results (format depends on type parameter).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      users:
                        type: array
                        items:
                          $ref: "#/components/schemas/User"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      projects:
                        type: array
                        items:
                          $ref: "#/components/schemas/Project"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      posts:
                        type: array
                        items:
                          $ref: "#/components/schemas/Devlog"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      shop_items:
                        type: array
                        items:
                          $ref: "#/components/schemas/ShopItem"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
        "400":
          description: Invalid search type or limit parameter.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /leaderboard:
    get:
      summary: Get the stardust leaderboard
      description: >-
        Returns the top 100 users ranked by current stardust balance and by all-time stardust earned.
        Only users who have opted in to leaderboard visibility are included.
        Also returns the authenticated user's rank in each category.
      tags: [Leaderboard]
      responses:
        "200":
          description: Leaderboard data.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  by_balance:
                    type: array
                    description: Top users by current stardust balance, descending.
                    items:
                      $ref: "#/components/schemas/LeaderboardEntry_Balance"
                  by_total_earned:
                    type: array
                    description: Top users by all-time stardust earned, descending.
                    items:
                      $ref: "#/components/schemas/LeaderboardEntry_TotalEarned"
                  my_rank:
                    type: object
                    description: The authenticated user's rank in each category.
                    properties:
                      balance:
                        type: integer
                        description: Position in the balance leaderboard (1-based).
                      total_earned:
                        type: integer
                        description: Position in the total-earned leaderboard (1-based).
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me:
    get:
      summary: Get the authenticated user's profile
      description: Provides info like display name, bio and avatar. Same as `/users/{id}` but for the profile of the key owner.
      tags: [Me]
      responses:
        "200":
          description: The current user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      summary: Update the authenticated user's profile
      description: >-
        To upload a banner, send the request as `multipart/form-data`.
        For text-only updates, `application/json` also works.
        Pass `remove_banner=1` to delete the current banner.
      tags: [Me]
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                bio:
                  type: string
                banner:
                  type: string
                  format: binary
                  description: Banner image file (PNG, JPEG, WebP, or GIF; max 8 MB).
                remove_banner:
                  type: string
                  enum: ["1"]
                  description: Pass `"1"` to delete the current banner.
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                bio:
                  type: string
      responses:
        "200":
          description: The updated user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Validation failed.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"

  /users/{id}:
    get:
      summary: Get a user's profile
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/{id}/projects:
    get:
      summary: List a user's projects
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of the user's projects.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/{id}/posts:
    get:
      summary: List a user's posts (devlogs, ships, and reposts)
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of the user's posts.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Post"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/projects:
    get:
      summary: List the authenticated user's projects
      tags: [Me]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of the current user's projects.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create a new project
      tags: [Me]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                  nullable: true
                repo_url:
                  type: string
                  nullable: true
                demo_url:
                  type: string
                  nullable: true
                readme_url:
                  type: string
                  nullable: true
                ai_declaration:
                  type: string
                  nullable: true
              required: [title]
      responses:
        "201":
          description: The newly created project.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Validation failed.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"

  /users/me/orders:
    get:
      summary: List current user's shop orders
      tags: [Me]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of the user's shop orders.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/ShopOrder"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/orders/{id}:
    get:
      summary: Get a specific shop order
      tags: [Me]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The shop order.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopOrder"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/me/recommended_projects:
    get:
      summary: Get recommended projects
      description: >-
        Up to 6 projects recommended for the user.
      tags: [Me]
      responses:
        "200":
          description: List of recommended projects (up to 6, no pagination).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/feed:
    get:
      summary: Get feed
      description: >-
        Paginated feed of recent posts (devlogs, ship events, and reposts). Mirrors what you see on `/home`.
        Personalized via Gorse recommendations when available, with a quality-ranked SQL fallback.
      tags: [Me]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of posts.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Post"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/achievements:
    get:
      summary: List the authenticated user's achievements
      description: >-
        Returns all achievements visible to the authenticated user — earned and unearned.
        Secret achievements appear as `"???"` until earned. Hidden achievements only appear once earned.
        Includes `progress` for achievements that track incremental progress (e.g. referrals).
        Does **not** trigger any achievement checks or awards.
      tags: [Me]
      responses:
        "200":
          description: Achievement list with progress and summary stats.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: "#/components/schemas/AchievementEntry"
                  stats:
                    type: object
                    properties:
                      earned:
                        type: integer
                        description: Number of countable achievements earned by the user.
                      total:
                        type: integer
                        description: Total number of countable achievements available.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/wishlist:
    get:
      summary: List current user's wishlist
      description: Returns all shop items the authenticated user has wishlisted, ordered newest first.
      tags: [Me]
      responses:
        "200":
          description: List of wishlisted shop items.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishlist:
                    type: array
                    items:
                      $ref: "#/components/schemas/WishlistEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/wishlist/{id}:
    post:
      summary: Add item to wishlist
      description: Adds the given shop item to the authenticated user's wishlist. Idempotent — calling it twice has no extra effect.
      tags: [Me]
      parameters:
        - name: id
          in: path
          description: Shop item ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Item wishlisted.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishlisted:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Remove item from wishlist
      description: Removes the given shop item from the authenticated user's wishlist. Idempotent — no error if it wasn't wishlisted.
      tags: [Me]
      parameters:
        - name: id
          in: path
          description: Shop item ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Item removed from wishlist.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishlisted:
                    type: boolean
                    example: false
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/balance:
    get:
      summary: Get current user's stardust balance and ledger
      description: Returns the authenticated user's current stardust balance and paginated transaction history.
      tags: [Me]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Balance and ledger entries.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  stardust_balance:
                    type: integer
                    description: Current stardust balance.
                  ledger:
                    type: array
                    items:
                      $ref: "#/components/schemas/LedgerEntry"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me/shop_region:
    patch:
      summary: Set current user's shop region
      description: Updates the authenticated user's shop region, which controls which shop items are marked as available.
      tags: [Me]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [region]
              properties:
                region:
                  type: string
                  description: ISO-style region code (e.g. `US`, `EU`, `XX` for global).
      responses:
        "200":
          description: Region updated.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  shop_region:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Invalid region code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /users/find:
    get:
      summary: Find user by username
      description: >-
        Looks up a user by their display name (case-insensitive exact match).
        Returns the same shape as `GET /users/{id}`.
      tags: [Users]
      parameters:
        - name: username
          in: query
          required: true
          description: The user's display name.
          schema:
            type: string
      responses:
        "200":
          description: The user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/{id}/followers:
    get:
      summary: List a user's followers
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of followers.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/{id}/following:
    get:
      summary: List users that a user follows
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of followed users.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/{id}/achievements:
    get:
      summary: List a user's earned achievements
      description: >-
        Returns only the achievements that this user has earned. Secret achievement names and
        descriptions are shown in full here since the user has already earned them.
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of earned achievements.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: "#/components/schemas/EarnedAchievement"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{id}:
    get:
      summary: Get a project by ID
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The project.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update a project
      description: >-
        Only the project author can update a project. 
        To upload a banner, send the request as `multipart/form-data`.
        For text-only updates, `application/json` also works.
        Pass `remove_banner=1` to delete the current banner.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                repo_url:
                  type: string
                demo_url:
                  type: string
                readme_url:
                  type: string
                ai_declaration:
                  type: string
                banner:
                  type: string
                  format: binary
                  description: Banner image file (JPEG, PNG, WebP, HEIC, or HEIF; max 10 MB).
                remove_banner:
                  type: string
                  enum: ["1"]
                  description: Pass `"1"` to delete the current banner.
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                repo_url:
                  type: string
                demo_url:
                  type: string
                readme_url:
                  type: string
                ai_declaration:
                  type: string
      responses:
        "200":
          description: The updated project.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Validation failed.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"

  /projects/{id}/posts:
    get:
      summary: List posts for a project
      description: Returns both devlogs and ship events.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of posts for the project.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Post"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create a devlog post for a project
      description: Creating a post requires membership in the project and at least one linked Hackatime project.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: Markdown content for the devlog.
                attachments:
                  type: array
                  description: Array of file IDs to attach.
                  items:
                    type: integer
              required: [body]
      responses:
        "201":
          description: The newly created post.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Validation failed (e.g., no Hackatime projects linked).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"

  /projects/{id}/posts/{post_id}:
    get:
      summary: Get a specific post from a project
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The post.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update a devlog post
      description: Only devlog posts can be edited, and only by the original author.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
              required: [body]
      responses:
        "200":
          description: The updated post.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Validation failed.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
    delete:
      summary: Delete a devlog post
      description: Soft-deletes a devlog. Only the original author can delete. Cannot delete from a shipped project.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Post deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Cannot delete a devlog from a shipped project.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /posts/{id}/comments:
    get:
      summary: List comments on a devlog post
      tags: [Posts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of comments, ordered oldest first.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create a comment on a devlog post
      tags: [Posts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
              required: [body]
      responses:
        "201":
          description: Comment created.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Validation failed (body missing or too long).
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"

  /posts/{id}/comments/{comment_id}:
    delete:
      summary: Delete a comment
      description: Soft-deletes a comment. Only the comment author can delete.
      tags: [Posts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: comment_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Comment deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /shop_items:
    get:
      summary: List shop items
      tags: [Shop]
      parameters:
        - name: category
          in: query
          description: Filter by category slug.
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of shop items.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/ShopItem"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /shop_items/{id}:
    get:
      summary: Get a shop item by ID
      description: Includes available modifiers for the user's region.
      tags: [Shop]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The shop item with modifiers.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ShopItem"
                  - type: object
                    properties:
                      modifiers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            group_name:
                              type: string
                            stardust_cost:
                              type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /users/{id}/follow:
    post:
      summary: Toggle follow on a user
      description: Follows the user if not already following, unfollows if already following.
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: New follow state.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  following:
                    type: boolean
                  followers_count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Cannot follow yourself.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /projects/{id}/follow:
    post:
      summary: Toggle follow on a project
      description: Follows the project if not already following, unfollows if already following.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: New follow state.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  following:
                    type: boolean
                  followers_count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Cannot follow your own project.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"

  /projects/{id}/mission:
    post:
      summary: Attach a mission to a project
      description: >-
        Attaches the given mission to the authenticated user's project.
        The user must own the project. Mission prerequisites must be met.
        If the project already has an active mission, it is swapped.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          description: Project ID.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mission_slug]
              properties:
                mission_slug:
                  type: string
                  description: Slug of the mission to attach.
      responses:
        "200":
          description: Mission attached.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mission_slug:
                    type: string
                  attached:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Prerequisites not met or mission not available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Detach the active mission from a project
      description: Detaches the project's currently active mission. The user must own the project.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          description: Project ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Mission detached.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  attached:
                    type: boolean
                    example: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Cannot detach (e.g. project already shipped to this mission).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /projects/{id}/mission_section_completions:
    get:
      summary: List mission section completions for a project
      description: Returns the completed guide steps for the project's currently active mission.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          description: Project ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of completed steps.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mission_slug:
                    type: string
                  completions:
                    type: array
                    items:
                      type: object
                      properties:
                        mission_step_id:
                          type: integer
                        title:
                          type: string
                        completed_at:
                          type: string
                          format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Project has no active mission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Mark a mission guide step complete
      description: >-
        Marks the given step complete for this project. Idempotent — calling it twice is safe.
        The project must be actively enrolled in the step's mission.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          description: Project ID.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mission_step_id]
              properties:
                mission_step_id:
                  type: integer
                  description: ID of the `Mission::Step` to mark complete.
      responses:
        "200":
          description: Step marked complete.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Step not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Project not enrolled in this mission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /projects/{id}/mission_section_completions/{step_id}:
    delete:
      summary: Unmark a mission guide step
      description: Removes the completion record for the given step. Idempotent.
      tags: [Projects]
      parameters:
        - name: id
          in: path
          description: Project ID.
          required: true
          schema:
            type: integer
        - name: step_id
          in: path
          description: Mission step ID to unmark.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Step unmarked.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed:
                    type: boolean
                    example: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Step not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Project not enrolled in this mission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /posts/{id}/like:
    post:
      summary: Toggle like on a post
      description: Likes the post if not already liked, unlikes if already liked. Only devlog posts can be liked.
      tags: [Posts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: New like state.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  liked:
                    type: boolean
                  likes_count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Post is not a devlog.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /posts/{id}/repost:
    post:
      summary: Repost a devlog
      description: Only devlog posts can be reposted. An optional `body` comment can be added.
      tags: [Posts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: Optional comment to add to the repost.
      responses:
        "201":
          description: Repost created.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  reposted:
                    type: boolean
                  reposts_count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Already reposted or validation failed.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a repost
      tags: [Posts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Repost removed.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  reposted:
                    type: boolean
                  reposts_count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /missions:
    get:
      summary: List missions
      description: Returns all enabled missions, featured first. Each mission includes a `status` (`available`, `upcoming`, or `ended`).
      tags: [Missions]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of missions.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  missions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Mission"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /missions/{slug}:
    get:
      summary: Get a mission by slug
      description: Includes the mission's ordered steps and prizes.
      tags: [Missions]
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The mission with steps and prizes.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Mission"
                  - type: object
                    properties:
                      steps:
                        type: array
                        items:
                          $ref: "#/components/schemas/MissionStep"
                      prizes:
                        type: array
                        items:
                          $ref: "#/components/schemas/MissionPrize"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /missions/{slug}/projects:
    get:
      summary: List a mission's projects
      description: Projects currently attached to the mission.
      tags: [Missions]
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of the mission's projects.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /resources:
    get:
      summary: List resources
      description: Returns the full learning resources (guides) catalog and the category list. Not paginated.
      tags: [Resources]
      responses:
        "200":
          description: All resources, grouped by the category list.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  resources:
                    type: array
                    items:
                      $ref: "#/components/schemas/Resource"
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        label:
                          type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /resources/{id}:
    get:
      summary: Get a resource by slug
      description: Includes the fully-expanded related resources.
      tags: [Resources]
      parameters:
        - name: id
          in: path
          required: true
          description: The resource slug.
          schema:
            type: string
      responses:
        "200":
          description: The resource with its related resources.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Resource"
                  - type: object
                    properties:
                      related_resources:
                        type: array
                        items:
                          $ref: "#/components/schemas/Resource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        `Authorization: Bearer YOUR_API_KEY`. Find or rotate your key in settings (bottom left on the Stardance website).

  headers:
    X-Request-ID:
      description: Unique ID for this request. Include it when reporting issues.
      schema:
        type: string

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        request_id:
          type: string
      required: [error]

    ValidationError:
      type: object
      description: >-
        Returned when model validation fails. `request_id` is present on some paths but not all.
      properties:
        errors:
          type: array
          items:
            type: string
        request_id:
          type: string
          nullable: true
      required: [errors]

    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_count:
          type: integer
        next_page:
          type: integer
          nullable: true
          description: Page number of the next page, or null on the last page.
      required: [current_page, total_pages, total_count, next_page]

    User:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        first_name:
          type: string
          nullable: true
          description: Only returned on `/users/me` (the key owner's own profile).
        last_name:
          type: string
          nullable: true
          description: Only returned on `/users/me` (the key owner's own profile).
        bio:
          type: string
          nullable: true
        verification_status:
          type: string
          enum: [needs_submission, pending, verified, ineligible]
          description: >-
            Whether the user has been verified for YSWS eligibility.
            `needs_submission` → user hasn't applied; `pending` → under review;
            `verified` → approved; `ineligible` → not eligible.
        avatar_url:
          type: string
          nullable: true
        banner_url:
          type: string
          nullable: true
          description: >-
            Relative path to the user's banner image. Prepend
            `https://stardance.hackclub.com` for a full URL. Null if no banner is set.
        balance:
          type: integer
          description: The user's current stardust balance. Only returned on `/users/me`.
        shop_region:
          type: string
          nullable: true
          description: Two-letter region code for shop availability and pricing. Only returned on `/users/me`.
        created_at:
          type: string
          format: date-time
        i_follow:
          type: boolean
          description: Whether the authenticated user follows this user.

    Project:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
          nullable: true
        ship_status:
          type: string
          enum: [draft, submitted, under_review, approved, rejected]
          description: >-
            Lifecycle state of the project. `draft` → not yet submitted;
            `submitted` → awaiting review; `under_review` → being reviewed;
            `approved` → shipped; `rejected` → not approved.
        project_type:
          type: string
          nullable: true
          description: Free-form project type tag set by the owner.
        project_categories:
          type: array
          items:
            type: string
            enum:
              - CLI
              - Cargo
              - Web App
              - Chat Bot
              - Extension
              - Desktop App (Windows)
              - Desktop App (Linux)
              - Desktop App (macOS)
              - Minecraft Mods
              - Hardware
              - Android App
              - iOS App
              - Other
        repo_url:
          type: string
          nullable: true
        demo_url:
          type: string
          nullable: true
        readme_url:
          type: string
          nullable: true
        ai_declaration:
          type: string
          nullable: true
          description: How much AI was used in building this project (free text).
        devlogs_count:
          type: integer
        duration_seconds:
          type: integer
          description: Total Hackatime-logged seconds across all devlogs.
        devlog_ids:
          type: array
          items:
            type: integer
        banner_url:
          type: string
          nullable: true
          description: >-
            Relative path to the project banner image. Prepend
            `https://stardance.hackclub.com` for a full URL.
        shipped_at:
          type: string
          format: date-time
          nullable: true
          description: When the project was first submitted for review.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        i_follow:
          type: boolean
          description: Whether the authenticated user follows this project.

    Devlog:
      type: object
      properties:
        id:
          type: integer
        body:
          type: string
          description: Markdown content of the devlog entry.
        duration_seconds:
          type: integer
          nullable: true
          description: Hackatime-logged seconds that this devlog consumed.
        likes_count:
          type: integer
        comments_count:
          type: integer
        tutorial:
          type: boolean
        project_id:
          type: integer
          nullable: true
        media:
          type: array
          description: >-
            Attached images/files. `url` is a relative path. Prepend
            `https://stardance.hackclub.com` for a full URL.
          items:
            type: object
            properties:
              url:
                type: string
              content_type:
                type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Post:
      type: object
      description: A post can be either a devlog, a ship event, or a repost.
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [devlog, ship_event, repost]
          description: The type of post.
        project_id:
          type: integer
        user_id:
          type: integer
        content:
          type: object
          description: Content varies by post type.
          oneOf:
            - $ref: "#/components/schemas/Post_Devlog_Content"
            - $ref: "#/components/schemas/Post_ShipEvent_Content"
            - $ref: "#/components/schemas/Post_Repost_Content"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Post_Devlog_Content:
      type: object
      properties:
        body:
          type: string
          description: Markdown content of the devlog.
        duration_seconds:
          type: integer
          nullable: true
        likes_count:
          type: integer
        comments_count:
          type: integer
        tutorial:
          type: boolean
        i_liked:
          type: boolean
          description: Whether the authenticated user has liked this post.
        media:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              content_type:
                type: string

    Post_ShipEvent_Content:
      type: object
      properties:
        certification_status:
          type: string
          enum: [pending, approved, rejected]
        body:
          type: string
          nullable: true
        feedback_reason:
          type: string
          nullable: true
        hours:
          type: number
        payout:
          type: integer
          nullable: true

    Post_Repost_Content:
      type: object
      properties:
        body:
          type: string
          nullable: true
          description: Optional quote comment added by the reposter.
        original_post_id:
          type: integer
          description: ID of the original Post that was reposted.
        original_post:
          type: object
          nullable: true
          description: Embedded original post data for rendering quote cards without a second request.
          properties:
            id:
              type: integer
            type:
              type: string
              enum: [devlog]
            user_id:
              type: integer
            created_at:
              type: string
              format: date-time
            content:
              type: object
              properties:
                body:
                  type: string
                likes_count:
                  type: integer
                comments_count:
                  type: integer
                duration_seconds:
                  type: integer

    Comment:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        body:
          type: string
        created_at:
          type: string
          format: date-time

    LedgerEntry:
      type: object
      properties:
        id:
          type: integer
        amount:
          type: integer
          description: Signed stardust amount — positive for earnings, negative for spending.
        reason:
          type: string
          description: Human-readable description of the transaction.
        created_at:
          type: string
          format: date-time

    SemanticResult:
      type: object
      properties:
        type:
          type: string
          enum: [project, devlog, ship, user]
        id:
          type: integer
        title:
          type: string
        subtitle:
          type: string
          nullable: true
        preview:
          type: string
          nullable: true
          description: Short excerpt from the document content.

    WishlistEntry:
      type: object
      description: A wishlisted shop item with the timestamp the user added it.
      properties:
        wishlisted_at:
          type: string
          format: date-time
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        stardust_cost:
          type: integer
          description: Cost in stardust.
        one_per_person_ever:
          type: boolean
        limited:
          type: boolean
        available:
          type: boolean
          description: Whether this item is available in the user's region.
        available_regions:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
        image_url:
          type: string
          nullable: true

    ShopItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        stardust_cost:
          type: integer
          description: Cost in stardust.
        one_per_person_ever:
          type: boolean
          description: If true, can only be purchased once per user.
        limited:
          type: boolean
          description: If true, item has limited stock.
        available:
          type: boolean
          description: Whether this item is available in the user's region.
        available_regions:
          type: array
          items:
            type: string
          description: List of region codes where item is available.
        categories:
          type: array
          items:
            type: string
          description: Category slugs this item belongs to.
        image_url:
          type: string
          nullable: true
          description: Relative path to item image.
        created_at:
          type: string
          format: date-time

    ShopOrder:
      type: object
      properties:
        id:
          type: integer
        aasm_state:
          type: string
          enum: [pending, approved, rejected, on_hold, fulfilled, cancelled]
          description: Current state of the order.
        quantity:
          type: integer
        frozen_item_price:
          type: integer
          description: Price paid per item.
        rejection_reason:
          type: string
          nullable: true
          description: Reason if order was rejected.
        tracking_number:
          type: string
          nullable: true
          description: Shipping tracking number.
        fulfilled_at:
          type: string
          format: date-time
          nullable: true
        item:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            image_url:
              type: string
              nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Mission:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        difficulty:
          type: string
          nullable: true
          enum: [beginner, intermediate, advanced]
        estimated_completion_minutes:
          type: integer
          nullable: true
        steps_count:
          type: integer
        prizes_count:
          type: integer
        start_at:
          type: string
          format: date-time
          nullable: true
        end_at:
          type: string
          format: date-time
          nullable: true
        featured_at:
          type: string
          format: date-time
          nullable: true
        achievement_name:
          type: string
          nullable: true
        status:
          type: string
          enum: [available, upcoming, ended, draft]
          description: Which bucket the mission falls into right now.
        available:
          type: boolean
          description: Whether the mission can be started right now (started and not ended).
        icon_url:
          type: string
          nullable: true
          description: Relative path to the mission icon.
        banner_url:
          type: string
          nullable: true
          description: Relative path to the mission banner.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MissionStep:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        position:
          type: integer

    MissionPrize:
      type: object
      properties:
        id:
          type: integer
        position:
          type: integer
        shop_item:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            image_url:
              type: string
              nullable: true

    Resource:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        description:
          type: string
        category:
          type: string
        category_label:
          type: string
        icon:
          type: string
        reading_minutes:
          type: integer
        related:
          type: array
          items:
            type: string
          description: Slugs of related resources.

    LeaderboardEntry_Balance:
      type: object
      properties:
        rank:
          type: integer
          description: Position in the leaderboard (1-based).
        id:
          type: integer
        display_name:
          type: string
        avatar_url:
          type: string
        balance:
          type: integer
          description: Current stardust balance.

    LeaderboardEntry_TotalEarned:
      type: object
      properties:
        rank:
          type: integer
          description: Position in the leaderboard (1-based).
        id:
          type: integer
        display_name:
          type: string
        avatar_url:
          type: string
        total_earned:
          type: integer
          description: All-time stardust earned.

    AchievementEntry:
      type: object
      description: An achievement as seen by the authenticated user (includes unearned ones).
      properties:
        slug:
          type: string
          nullable: true
          description: Achievement slug. Null for secret achievements that haven't been earned yet.
        name:
          type: string
          description: Display name. Secret unearned achievements show `"???"`.
        description:
          type: string
          nullable: true
          description: Description text. Secret unearned achievements show the secret hint or null.
        icon:
          type: string
          description: Icon identifier.
        earned:
          type: boolean
        earned_at:
          type: string
          format: date-time
          nullable: true
        progress:
          type: object
          nullable: true
          description: >-
            Present for achievements with incremental progress that haven't been earned yet.
            Null once earned or for achievements without progress tracking.
          properties:
            current:
              type: integer
            target:
              type: integer
        stardust_reward:
          type: integer
          nullable: true
          description: Stardust reward for earning this achievement. Null for secret unearned achievements.

    EarnedAchievement:
      type: object
      description: An achievement earned by a user (public view — always earned).
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        earned_at:
          type: string
          format: date-time

  parameters:
    Limit:
      name: limit
      in: query
      description: Results per page (1–100, default 100).
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
    Page:
      name: page
      in: query
      description: Page number (1-based, default 1).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

  responses:
    Unauthorized:
      description: Missing or invalid API key.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Invalid API key"
            request_id: "abc123"

    NotFound:
      description: Resource not found.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Resource not found"
            request_id: "abc123"

    Forbidden:
      description: You do not have permission to perform this action.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    InvalidLimit:
      description: >-
        `limit` query parameter is outside the allowed range (1–100).
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Limit must be between 1 and 100"
            request_id: "abc123"
