---
openapi: 3.0.3
info:
  title: Stardance API
  version: v1
  description: |
    this built-in scalar theme looks cool, doesnt it? like... kind space y.... 
    
    ## Authentication

    Every endpoint requires an API key. Send it as a Bearer token:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    Open **Settings** from the sidebar to generate or rotate your key and replace `YOUR_API_KEY` with your generated one.

    ---

    ## Rate limiting

    30 requests per 1 minute, enforced per IP address and per API key. Exceeding either limit returns `429 Too Many Requests` with body `{ "error": "rate_limited" }`.

    ---
    
    ## Pagination

    Paginated endpoints (eg. projects and devlogs) accept `?page` (1-based, default 1) and `?limit` (1–100, default 100). A `400` is returned if `limit` is out of that range. Responses include a `pagination` object:

    ```json
    {
      "current_page": 1,
      "total_pages": 4,
      "total_count": 312,
      "next_page": 2
    }
    ```

    `next_page` is `null` on the last page.

    ---
    
    ## Media URLs

    `media[].url` and `banner_url` are **relative paths** (e.g.
    `/rails/active_storage/blobs/…`). Prepend the server base URL
    (`https://stardance.hackclub.com`) to get a fully qualified URL.

servers:
  - url: https://stardance.hackclub.com/api/v1
    description: Production server
  - url: http://sd.67.pl.eu.org/api/v1
    description: Playground server for testing
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        `Authorization: Bearer YOUR_API_KEY`. Find or rotate your key in settings (bottom left on the Stardance website).

  headers:
    X-Request-ID:
      description: Unique ID for this request. Include it when reporting issues.
      schema:
        type: string

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        request_id:
          type: string
      required: [error]

    ValidationError:
      type: object
      description: >-
        Returned when model validation fails. `request_id` is present on some paths but not all.
      properties:
        errors:
          type: array
          items:
            type: string
        request_id:
          type: string
          nullable: true
      required: [errors]

    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_count:
          type: integer
        next_page:
          type: integer
          nullable: true
          description: Page number of the next page, or null on the last page.
      required: [current_page, total_pages, total_count, next_page]

    User:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        verification_status:
          type: string
          enum: [needs_submission, pending, verified, ineligible]
          description: >-
            Whether the user has been verified for YSWS eligibility.
            `needs_submission` → user hasn't applied; `pending` → under review;
            `verified` → approved; `ineligible` → not eligible.
        avatar_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Project:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
          nullable: true
        ship_status:
          type: string
          enum: [draft, submitted, under_review, approved, rejected]
          description: >-
            Lifecycle state of the project. `draft` → not yet submitted;
            `submitted` → awaiting review; `under_review` → being reviewed;
            `approved` → shipped; `rejected` → not approved.
        project_type:
          type: string
          nullable: true
          description: Free-form project type tag set by the owner.
        project_categories:
          type: array
          items:
            type: string
            enum:
              - CLI
              - Cargo
              - Web App
              - Chat Bot
              - Extension
              - Desktop App (Windows)
              - Desktop App (Linux)
              - Desktop App (macOS)
              - Minecraft Mods
              - Hardware
              - Android App
              - iOS App
              - Other
        repo_url:
          type: string
          nullable: true
        demo_url:
          type: string
          nullable: true
        readme_url:
          type: string
          nullable: true
        ai_declaration:
          type: string
          nullable: true
          description: How much AI was used in building this project (free text).
        devlogs_count:
          type: integer
        duration_seconds:
          type: integer
          description: Total Hackatime-logged seconds across all devlogs.
        devlog_ids:
          type: array
          items:
            type: integer
        banner_url:
          type: string
          nullable: true
          description: >-
            Relative path to the project banner image. Prepend
            `https://stardance.hackclub.com` for a full URL.
        shipped_at:
          type: string
          format: date-time
          nullable: true
          description: When the project was first submitted for review.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Devlog:
      type: object
      properties:
        id:
          type: integer
        body:
          type: string
          description: Markdown content of the devlog entry.
        duration_seconds:
          type: integer
          nullable: true
          description: Hackatime-logged seconds that this devlog consumed.
        likes_count:
          type: integer
        comments_count:
          type: integer
        tutorial:
          type: boolean
        project_id:
          type: integer
          nullable: true
        media:
          type: array
          description: >-
            Attached images/files. `url` is a relative path — prepend
            `https://stardance.hackclub.com` for a full URL.
          items:
            type: object
            properties:
              url:
                type: string
              content_type:
                type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

  parameters:
    Limit:
      name: limit
      in: query
      description: Results per page (1–100, default 100).
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
    Page:
      name: page
      in: query
      description: Page number (1-based, default 1).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

  responses:
    Unauthorized:
      description: Missing or invalid API key.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Invalid API key"
            request_id: "abc123"

    NotFound:
      description: Resource not found.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Resource not found"
            request_id: "abc123"

    Forbidden:
      description: Authenticated user is not a member of this project.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    InvalidLimit:
      description: >-
        `limit` query parameter is outside the allowed range (1–100).
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "Limit must be between 1 and 100"
            request_id: "abc123"

paths:
  /me:
    get:
      summary: Get the authenticated user's profile
      description: Provides info like display name, bio and avatar. Same as `/profile` but for the profile of the key owner.
      tags: [Me]
      responses:
        "200":
          description: The current user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      summary: Update the authenticated user's profile
      tags: [Me]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                bio:
                  type: string
      responses:
        "200":
          description: The updated user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Validation failed.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"

  /me/projects:
    get:
      summary: List the authenticated user's projects
      tags: [Me]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of the current user's projects.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/recommended_projects:
    get:
      summary: Get recommended projects
      description: Paginated list of projects recommended for the user. The same as you can find on `/home` of the website!
      tags: [Me]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of projects recommended for the user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me/feed:
    get:
      summary: Get devlog feed
      description: Paginated list of recent devlogs in the user's feed. The same as you can find on `/home` of the website!
      tags: [Me]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated list of recent devlogs recommended for the user.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                type: object
                properties:
                  devlogs:
                    type: array
                    items:
                      $ref: "#/components/schemas/Devlog"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/InvalidLimit"
        "401":
          $ref: "#/components/responses/Unauthorized"