<div class="faq-section-second-border-wrapper">
  <div class="faq-section-border-wrapper">
    <div class="section faq">
      <div class="title">
        FAQ
      </div>

      <div class="cards">
        <div class="card card-blue">
          <p class="question">Who is eligible?</p>
          <p class="answer">Stardance is for highschoolers! You need to be 13-18 years old to participate.</p>
        </div>

        <div class="card card-green">
          <p class="question">How much does it cost?</p>
          <p class="answer" style="display: flex; flex-direction: column;">
            100% free* - all the prizes are donated to us or paid for by us!
            <span style="margin-top: auto; font-size: 0.8em; font-weight: normal;">*customs might occur outside of the US</span>
          </p>
        </div>

        <div class="card card-yellow">
          <p class="question">What types of projects count?</p>
          <p class="answer">All kinds of technical projects as long as it's open-source!</p>
        </div>

        <div class="card card-red">
          <p class="question">How many projects can I build?</p>
          <p class="answer">There's no limit! Cook as much as you can!</p>
        </div>

        <div class="card card-blue">
          <p class="question">Is this legit?</p>
          <p class="answer">Yup! This summer we ran <%= link_to "Summer of Making", "https://summer.hackclub.com/" %>, and before that we ran <%= link_to "High Seas", "https://highseas.hackclub.com/" %>—both programs gave out similar prizes for building personal projects.</p>
        </div>

        <div class="card card-green">
          <p class="question">I've got more questions...</p>
          <p class="answer">You can email us at <%= mail_to "flavortown@hackclub.com" %>! We'll try and respond to everything within two days :)</p>
        </div>
      </div>
    </div>
  </div>
</div>
