<section class="what-is-this">
  <%= image_tag image_url("landing/space/moon-opp.png"), class: "what-is-this__moon", alt: "", aria: { hidden: true }, loading: "lazy" %>
  <div class="what-is-this__card-stack">
    <div class="what-is-this__inner">
      <h2 class="what-is-this__title">What <span class="what-is-this__title--italic">is</span> this?</h2>
      <div class="what-is-this__body">
        <p>Stardance Challenge is a <strong>free summer STEM challenge</strong> where you can make any software/hardware project you want, and get rewarded for it!</p>
        <p>We&rsquo;re a team of a few teenagers from Hack Club, a nonprofit that&rsquo;s shipped 12,000 prizes to teen makers across 119 countries.</p>
        <p>There&rsquo;ll be new content, freebies, AMAs with astronauts, and other awesome stuff from now until September 30th.</p>
        <p>You don&rsquo;t need experience &mdash; we have guides to help you get started, and a community of teens building alongside you. If you have an idea, that&rsquo;s enough.</p>
      </div>
    </div>
  </div>
</section>
